<div class="footer">
    <nav>
        <h4>Latest News</h4>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum, dolor sit amet consectetur </p>
        <p>Lorem, ipsum dolor.</p>
    </nav>
    <nav>
        <h4>Latest News</h4>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum, dolor sit amet consectetur </p>
        <p>Lorem, ipsum dolor.</p>
    </nav>
    <nav class="links">
        <h4>Links</h4>
        <a href="">Sign Up</a>
        <a href="">Sign In</a>
        <a href="">Home</a>
        <a href="">About</a>
    </nav>
</div>
<div class="last-part">
    &copy; Sern School 2023
</div>
