<div class="top-nav">
  <img src="" alt="" />
  <div class="nav-section">
    <nav>
      <a href="home">HOME</a>
      <a href="about">ABOUT</a>
      <a href="sign-up">SIGN UP</a>
      <a href="sign-in">SIGN IN</a>
    </nav>
  </div>
</div>
