<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/home.css">
    <title>Admin Page</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <h2>Admin Page for Teachers</h2>

    <table>
      <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Email</th>
      </tr>
      <%allStudents.forEach(stud=>{%>
      <tr>
        <td><%=stud.first_name%></td>
        <td><%stud.second_name%></td>
        <td><%=stud.email%></td>
        <td><button>MORE</button></td>
        <td>
          <form
            action="/deleteuser/<%=stud.email%>"
            style="display: block"
            method="post"
            id="delete"
          >
            <input class="different-form-input" type="submit" value="DELETE" />
          </form>
          
        </td>
      </tr>

      <%})%>
    </table>
  </body>
</html>
