<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Home Page</title>
</head>
<body>
    <div class="page-one">
        <%- include('partials/header') %>
        <h1>Sern School</h1>
        <div class="mid-section">
            <h1>Welcome to Sern School</h1>
            <h4>Cool catch phrase</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolor praesentium laudantium debitis ea veniam, nesciunt doloremque nostrum quae qui soluta, magni facere itaque, officiis consectetur. Nulla assumenda voluptatem omnis voluptates enim, quae, alias commodi soluta beatae provident cumque error doloribus voluptate. Nobis sint vel amet ad vitae dolorum suscipit.</p>
            <button class="button">Start Learning</button>
        </div>
        <div class="bottom-section">
            <a href="https://www.facebook.com">Facebook</a>
            <a href="https://www.tweeter.com">Tweeter</a>
            <a href="https://www.linkedin.com">Linked in</a>
        </div>
    </div>
    <div class="page-two">
        <div class="cards">
            <div class="each-card">
                <h3></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi voluptatibus iure nostrum distinctio beatae fugit ut architecto? Itaque, repellendus.</p>
                <button class="button">MORE</button>
            <div class="each-card">
                <h3></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi voluptatibus iure nostrum distinctio beatae fugit ut architecto? Itaque, repellendus.</p>
                <button class="button">MORE</button>
            <div class="each-card">
                <h3></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi voluptatibus iure nostrum distinctio beatae fugit ut architecto? Itaque, repellendus.</p>
                <button class="button">MORE</button>
            </div>
        </div>
    </div>
    <div class="last-page">
        <%- include('partials/footer') %>
    </div>
</body>
</html>