<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/home.css" />
    <title>Users Page | Students</title>
  </head>
  <body>
    <header class="top-nav">
      <div>
        <img src="./images/logo.png" alt="logo" />
      </div>
      <div class="for-top-nav">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/sign-out">SIGN OUT</a>
        <span class="user-icon">
          <img
            src="./images/profiles/<%=stud.image%>"
            alt="user icon"
            id="this-one"
          />
        </span>
      </div>
    </header>
    <main>
      <h1>Welcome, <%=stud.first_name%></h1>
      <div class="courses">
        <h2>Registered course : <span> </span></h2>
      </div>
    </main>
    <footer>
      <%- include('partials/footer') %>
    </footer>
  </body>
</html>
