/*about one styles*/
.about-one{
    background-image: url("../images/glass-read.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding: 20px; */
}
.learn{
    display: flex;
    justify-content: center;
    
}
/*about two styles*/
.about-two h1{
    padding: 40px 10px 0px 10px;
}
.about-two{
    height: 100vh;

}
.about-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px 20px 30px;
}
.each-about-card{
    margin: 10px;
    /* width: 350px; */
    width: 30%;
}
/*multi-page items*/
.btns{
    border: 1px solid black;
    min-width: 70px;
    min-height: 30px;
    border-radius: 10px;
}