*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}
/*buttons*/
.button{
    width: max-content;
    justify-content: center;
    background-color: rgb(199, 194, 194);
    border: 1px solid black;
}
/*header styling*/
.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.top-nav img{
    width: 90px;
    
}
.top-nav nav {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.top-nav nav a, .bottom-section a{
   text-decoration: none;
   color: grey;
   font-weight: 400;
}
.page-one{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 60px;
}
.start{
    width: 40;
    height: 30px;
}
.bottom-section{
    display: flex;
    justify-content: space-around;
}

.mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 60px;
    gap: 60px;
}
hr{
    width: 95%;
    margin: 20px;
    border: 1px solid black;
}
/*page two styles*/
/* .page-two{
    display: flex;
    flex-direction: column;
} */
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px;
    height: 100vh;
}
.each-card{
    width: 400px;
    height: 70%;
    background-color: brown;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
/*form styling*/
.signings{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
form{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: max-content;
}
input{
    display: block;
    width: 80%;
    padding: 10px;
}
/*admin view*/
body{
    display: flex;
    flex-direction: column;
    
}
.different-form-input{
    border: none;
    border-radius: 10px;
    background-color: rgb(245, 47, 47);
}
#different-form{
    border: none;
}
/*other parts*/
.header-error{
    display: flex;
    align-items: center;
    flex-direction: column;
}